@use '../../styles/_theme' as *;

.content-image-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;
  padding:$spacing-xl;
  border-radius: $radius-lg;
  background-color: $color-neutral-100;
  border: $border-color-50;
  max-height: 55rem;
  height: 100%;
  
  &__image-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $radius-lg;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  &__icon-wrapper {
    position: relative;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-brand-50;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: $radius-lg;
      background: radial-gradient( circle at top right, $color-brand-100, $color-brand-50);
      padding: 0.125rem;
      -webkit-mask:
        linear-gradient($color-neutral-100 0 0) content-box,
        linear-gradient($color-neutral-100 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
  }

  &__title-highlight {
    color: $color-text-50;
    margin-block: 2rem 1.5rem;
  }

  &__title {
    display: block;
    color: $color-text-200;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    list-style: disc;
    padding-left: 1.25rem;
    color: $color-text-200;
  }
  
  &__list-item {
      font-size: $fontSize-text-md;
      line-height: $line-height-text-md;

    &::marker {
      font-size: $fontSize-text-xs;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: $spacing-md;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: $spacing-none;

    &::before {
      content: '+';
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: $border-color-100;
      background-color: $color-neutral-50;
      color: inherit;
      font-size: 1.25rem;
      line-height: 1;
      flex-shrink: 0;
    }

    &:hover {
      transform: translateX(0.25rem);
    }
  }

  &__divider {
    border: 0;
    height: 0.0625rem;
    background-color: $color-neutral-200;
    margin: 1.5rem 0;
  }

  &--reverse {
    .content-image-section__image-wrapper,
    .content-image-section__content {
      order: unset;
    }
  }
  

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    max-height: 34rem;
    gap: $spacing-xxl;

  
    &--reverse {
      .content-image-section__image-wrapper {
        order: 2;
      }

      .content-image-section__content {
        order: 1;
      }
    }
  }
}


