@use '../../styles/_theme' as *;

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    max-width: 30rem;
    width: 100%;
    padding: 4rem 1.25rem;
    margin: 1.5rem auto 0;

    &__image {
        max-width: 153px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    &__description {
        font-size: $fontSize-text-sm;
        line-height: $line-height-text-sm;
    }

    &__title {
        margin-bottom: 1.5rem;
        line-height: initial;
    }

    &__titleHighlight {
        display: inline-block;
        color: $color-brand-50;
        font-weight: $fontWeight-bold;
        min-width: 10ch; 
    }

    .animate {
        animation: slideUpAndBounce 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    @keyframes slideUpAndBounce {
        0% {
            opacity: 0;
            transform: translateY(1.875rem);
            filter: blur(5px);
        }
        60% {
            opacity: 1;
            transform: translateY(-0.625rem);
            filter: blur(0);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (min-width: 1024px) {
        max-width: 58.625rem;
        padding-block: 4rem;
    }

    @media (prefers-reduced-motion: reduce) {
        .animate {
            animation: none;
        }
    }
}