$color-brand-50: rgba(105, 39, 70, 1);
$color-brand-100: rgba(207, 77, 138, 1);

$color-neutral-50: rgba(249, 249, 249, 1);
$color-neutral-100: rgba(255, 255, 255, 1);
$color-neutral-150: rgba(243, 237, 234, 1);
$color-neutral-200: rgba(224, 216, 212, 1);

$color-text-50: rgba(117, 117, 117, 1);
$color-text-100: rgba(75, 75, 75, 1);
$color-text-150: rgba(69, 68, 68, 1);
$color-text-200: rgba(51, 51, 51, 1);


$border-color-50: 0.0625rem solid $color-neutral-150;
$border-color-100: 0.0625rem solid $color-neutral-200;

$gradient-radial-50: radial-gradient(52.5% 52.5% at 73.5% 26%, rgba(207, 77, 138, 1) 0%, rgba(105, 39, 70, 1) 100%);
$gradient-radial-100: radial-gradient(40.91% 40.91% at 50% 50%,  rgba(105, 39, 70, 0.5) 0%,  rgba(105, 39, 70, 0) 100%);

$fontSize-heading-xs: 32px;
$fontSize-heading-sm: 40px;
$fontSize-heading-md: 48px;
$fontSize-heading-lg: 80px;
$fontSize-footer-sm: 12px;
$fontSize-text-xs: 16px;
$fontSize-text-sm: 20px;
$fontSize-text-md: 22px;
$fontSize-text-lg: 24px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;

$spacing-none: 0;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;
$spacing-xxxl: 6rem;

$line-height-heading-sm: 42px;
$line-height-heading-md: 52px;
$line-height-text-sm: 30px;
$line-height-text-md: 32px;
$line-height-utility-sm: 26px;