@use './_theme' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-brand: 'Gilroy', 'Inter', system-ui, sans-serif;
  --font-family-utility: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-brand);
  font-size: $fontSize-text-sm;
  font-weight: $fontWeight-regular;
  line-height: $line-height-text-sm;
  color: $color-text-100;
  background-color: $color-neutral-50;

  @media (min-width: 1024px) {
    font-size: $fontSize-text-lg;
    line-height: $line-height-text-md;
  }
}

h1 {
    font-family: var(--font-family-brand);
    font-weight: $fontWeight-regular;
    font-size: $fontSize-heading-md;

    @media (min-width: 1024px) {
        font-size: $fontSize-heading-lg;
    }
}

h2 {
    font-family: var(--font-family-brand);
    font-weight: $fontWeight-regular;
    line-height: $line-height-heading-md;
    font-size: $fontSize-heading-sm;

    @media (min-width: 1024px) {
      font-size: $fontSize-heading-md;
    }
}

h3,
h4,
h5,
h6 {
    font-family: var(--font-family-brand);
    font-weight: $fontWeight-regular;
    line-height: $line-height-heading-sm;
    font-size: $fontSize-heading-xs;

    @media (min-width: 1024px) {
      font-size: $fontSize-heading-sm;
    }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $color-text-200;
  font-family: inherit;
  font-size: $fontSize-text-sm;
  text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1348px;
    padding: 0 1.25rem;

  @media (min-width: 1440px) {
    padding: 0;
    margin-top: 6.25rem;
  }
}


.container--contentImageSections {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.marginBlock {
  margin-block: 5rem;

  @media (min-width: 90rem) {
    margin-block: 7.5rem;
  }
}


:focus-visible {
  outline: 0.125rem solid $color-text-200;
  outline-offset: 0.25rem;
}
