@use '../../styles/_theme' as *;

.image-carousel {
  &__list {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;;
  }
  
  &__item {
    position: absolute;
    top: 50%;
    list-style-type: none;
    aspect-ratio: 1060 / 598;
    transition: left 0.8s ease, width 0.8s ease, transform 0.8s ease, opacity 0.8s ease;
  }
  
  &__button {
    padding: 0;
    border: none;
    border-radius: $radius-xl;
    cursor: pointer;
    background: transparent;
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 0.125rem solid $color-neutral-150;
      border-radius: $radius-xl;
      transition: border-color 0.3s ease;
    }
    
    &:hover img{
      border-color: $color-neutral-150;
    }
    
    &:focus-visible {
      outline: 0.125rem solid $color-neutral-150;
      outline-offset: 0.25rem;
    }

    &:focus-visible img {
      border: 0.3125rem solid $color-text-150;
      padding: 1.25rem;
    }
  }

  &__position {
    &--center {
      left: 50%;
      width: 75%;
      max-width: 1060px;
      transform: translate(-50%, -50%);
      z-index: 3;
      opacity: 1;
      cursor: default;
      pointer-events: none;
    }
    
    &--left {
      left: 30%;
      width: 50%;
      max-width: 654px;
      transform: translate(-50%, -50%);
      z-index: 1;
      cursor: pointer;
    }

    &--right {
      left: 70%;
      width: 50%;
      max-width: 654px;
      transform: translate(-50%, -50%);
      z-index: 1;
      cursor: pointer;
    }

    &--hidden {
      left: 50%;
      width: 50%;
      max-width: 654px;
      transform: translate(-50%, -50%) scale(0.8);
      z-index: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (min-width: 768px) {
    &__list {
      height: 500px;
    }

    &__position {
      &--center {
        max-width: 900px;
      }

      &--left {
        left: 35%;
      }

      &--right {
        left: 65%;
      }
    }
  }

  @media (min-width: 1024px) {
    margin: 1.5rem 1.25rem;

    &__list {
      height: 600px;
    }

    &__position {
      &--center {
        max-width: 1060px;
      }

      &--left {
        left: 28%;
      }

      &--right {
        left: 72%;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .image-carousel__item {
    transition: none;
  }
}